.app{
    background:url('./image/banner.jpg') ,
    linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}